<template name="footer">
  <div class="ui inverted vertical footer fixed segment">
    <div class="ui center aligned container">
      <img src="/images/banner/steemstemlogoback.png" class="ui centered image">
      <div class="ui horizontal inverted small divided link list">
        <a class="item about" href="/aboutus">About Us</a>
        <a class="item faq" href="/faq">FAQ</a>
        <a class="item tos" href="/tos">Terms of Service</a>
        <div class="item"> Supported by <a target="_blank" href="http://curiesteem.com/"> Curie <img style="border-radius: 20px;margin-bottom: -2px;" width="12" height="12" src="/images/curie.jpg"></a></div>
      </div>
    </div>
  </div>
</template>
