/* ------- Global ------- */
.site{
	display: flex;
  	min-height: 100vh;
  	flex-direction: column;
}

/*Header*/
#main-header {
	max-height: 25%;
}

/*Top Banner*/
.ui.banner.fluid.image {
	height: 0px !important;
	width: 100% !important;
	object-fit: cover;
  }
  .ui.grid.logo{
	  min-width: 180px;
  }
  .top.cat {
    /* font-size: 0.8em!important; */
}

.upvote.popup{
	min-width: 200px;
}

.item.mn {
	min-width: 72px;
	padding: 0.92857143em 1.8285714em!important;
}


.ui.top.attached.label:first-child + :not(.attached), .ui.top.attached.label + [class*="right floated"] + *{
	margin-top: 3.2rem !important;
}

  .text.cat{
	text-transform: uppercase!important;
}

.item.cat{
	text-transform: uppercase!important;
}


/*Top Menu*/
.main.menu {
	margin-top: 0em;
	border-radius: 0;
	border: none;
	border: 1px solid #DDD;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
	transition:
  	box-shadow 0.5s ease,
  	padding 0.5s ease;
}

.main.menu.inverted {
	left: 0px!important;
	margin-bottom: 0px;
}

.main.menu .item img.logo {
	margin-right: 0.1em;
}

.overlay {
	float: left;
	margin: 0em 3em 1em 0em;
}

.overlay .menu {
	position: relative;
	left: 0;
	transition: left 0.5s ease;
}
.ui.inverted.menu{
	background: #1b1c1d!important;
}

.main.menu.fixed {
	border: 0px solid #DDD;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
	z-index: 9999!important;
	background: #1b1c1d;
}

.overlay.fixed .menu {
	left: 800px;
}

.childopacity a{
opacity: 1!important;
background:transparent!important;
}

.text.container .left.floated.image {
	margin: 2em 2em 2em -4em;
}
.text.container .right.floated.image {
	margin: 2em -4em 2em 2em;
}

/* -------Global main ------- */
.global-content {
  flex: 1;
}

.ui.category.search .results {
    width: 180px;
    left: -14px;
}

.ui.image.post{
    height: 170px!important;
    object-fit: cover;
}

.ui.image.profile{
    height: 160px!important;
    object-fit: cover;
}

.header.item.post{
    font-size: 1em!important;
    max-height: 2.7em;
    overflow: hidden;
}

.ui.sidebar.visible ~ .pusher {
    width: calc(100%);
}

blockquote{
    background: #091420;
    margin: 0px 0px 5px;
    padding: 20px;
    color: white;
    font-style: italic;
    display: -webkit-box;
    border: 2px solid #01b5ad;
    border-radius: 5px;
}

blockquote::before { 
    content: "\"";
}

blockquote::after { 
    content: "\"";
}

table {
  border-collapse: collapse;
  width: 100%;
}
tr:nth-child(even) {background-color: #f2f2f2;}
thead {
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: bold;
  background-color: #00b5ad;
  color: white;
}
td, thead {
  border: 1px solid #ddd;
  padding: 12px;
}

.content .header{
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 25px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 50px;
}

.description.post.v{
	max-height: 100px;
	overflow: hidden;
}

.ui.menu .ui.dropdown .menu > .item{
	text-transform: uppercase!important;
}

.ui.cards > .card > .content > .header:not(.ui), .ui.card > .content > .header:not(.ui){
    font-size: 1.3em!important;
    max-height: 2.6em;
    overflow: hidden;
}

.item.steemstem.teal{
	text-transform: uppercase;
	box-shadow: inset 0px -4px #00b5ad;
}

.item.steemstem.blue{
	text-transform: uppercase;
	box-shadow: inset 0px -4px #2185d0;
}

.item.steemstem.olive{
	text-transform: uppercase;
	box-shadow: inset 0px -4px #b5cc18;
}

.item.steemstem.green{
	text-transform: uppercase;
	box-shadow: inset 0px -4px #21ba45;
}

.item.steemstem.red{
	text-transform: uppercase;
	box-shadow: inset 0px -4px #db2828;
}

.item.steemstem.orange{
	text-transform: uppercase;
	box-shadow: inset 0px -4px #f2711c;
}

.item.steemstem.yellow{
	text-transform: uppercase;
	box-shadow: inset 0px -4px #fbbd08;
}

.item.steemstem.pink{
	text-transform: uppercase;
	box-shadow: inset 0px -4px #e03997;
}

.item.steemstem.purple{
	text-transform: uppercase;
	box-shadow: inset 0px -4px #e03997;
}

.item.steemstem.violet{
	text-transform: uppercase;
	box-shadow: inset 0px -4px #502aa1;;
}

.item.steemstem.brown{
	text-transform: uppercase;
	box-shadow: inset 0px -4px #a5673f;;
}

.item.steemstem.teal.actived{
	text-transform: uppercase;
	background:#000;
	box-shadow: inset 0px -7px #00b5ad;
}

.item.steemstem.blue.actived{
	text-transform: uppercase;
	background:#000;
	box-shadow: inset 0px -7px #2185d0;
}

.item.steemstem.olive.actived{
	text-transform: uppercase;
	background:#000;
	box-shadow: inset 0px -7px #b5cc18;
}

.item.steemstem.green.actived{
	text-transform: uppercase;
	background:#000;
	box-shadow: inset 0px -7px #21ba45;
}

.item.steemstem.red.actived{
	text-transform: uppercase;
	background:#000;
	box-shadow: inset 0px -7px #db2828;
}

.item.steemstem.orange.actived{
	text-transform: uppercase;
	background:#000;
	box-shadow: inset 0px -7px #f2711c;
}

.item.steemstem.yellow.actived{
	text-transform: uppercase;
	background:#000;
	box-shadow: inset 0px -7px #fbbd08;
}

.item.steemstem.pink.actived{
	text-transform: uppercase;
	background:#000;
	box-shadow: inset 0px -7px #e03997;
}

.item.steemstem.purple.actived{
	text-transform: uppercase;
	background:#000;
	box-shadow: inset 0px -7px #e03997;
}

.item.steemstem.violet.actived{
	text-transform: uppercase;
	background:#000;
	box-shadow: inset 0px -7px #502aa1;;
}

.item.steemstem.brown.actived{
	text-transform: uppercase;
	background:#000;
	box-shadow: inset 0px -7px #a5673f;;
}

.card{
	cursor: pointer;
}

.card .ui.label{
	margin: 0em!important;
}

.card .image{
	max-height: 220px;
	overflow: hidden;
}

.extra.post {
    position: absolute;
    bottom: 10px;
    width: 92%;
}
img{
	max-width: 100%;
}

.ui.segment{
	max-width: 100%;
	word-wrap: break-word;
}

.ui.comments .comment .comments{
	padding: 0px!important;
}

.ui.grid > .ui.grid:last-child {
    margin-bottom: 3.5em!important;
}

.ui.steem.icon{
	background: #ededed;
}

.ui.steem.button{
	background: #ededed;
}

/* ------- Footer ------- */


/*Helpers*/


.ui.dropdown.chooselanguage.inverted .menu{
	background: #09141f!important;
}

.ui.image.banner.logo  {
	position: absolute;
    top: 15px;
    left: calc(25% - 70px);
    height: 118px;
  }


  .ui.comments .comment .actions{
	  margin-bottom: 10px;
  }

  .ui.comments .comment .avatar{
	display: block;
    width: 2.5em;
    height: 2.5em;
    float: left;
    margin: 0.2em 0em 0em;
  }

  .ui.comments .comment img.avatar, .ui.comments .comment .avatar img {
    display: block;
    margin: 0em auto;
    width: 100%;
    height: 100%;
    border-radius: 2.25rem;
    object-fit: cover;
}

div .pull-left {
    float: left;
    padding-right: 1rem;
    max-width: 50%;
}

div .pull-right {
    float: right;
    padding-left: 1rem;
    max-width: 50%;
}

div .text-justify{
	text-align: justify!important;
}

div iframe{
    width: 100%!important;
}

.shorter{
	max-height: 35px;
	overflow: hidden;
}

.message.logout{
	margin-left: 10px;
}

.little.image{
    width: 80px;
    /* height: 32px; */
    object-fit: cover;
}



.ui.top.attached.label.white{
	background: white;
}


.ui.cards > .card > .content, .ui.card > .content{
	overflow: hidden;
    overflow-wrap: break-word;	
}





  .card .menu-content {
	margin: 0;
	padding: 0;
	list-style-type: none;
  }
  .card .menu-content::before, .card .menu-content::after {
	content: '';
	display: table;
  }
  .card .menu-content::after {
	clear: both;
  }
  .card .menu-content li {
	display: inline-block;
  }
  .card .menu-content a {
	color: #fff;
  }
  .card .menu-content span {
	position: absolute;
	left: 50%;
	top: 0;
	font-weight: 700;
	font-family: 'Open Sans';
	-webkit-transform: translate(-50%, 0);
			transform: translate(-50%, 0);
  }
  .card .wrapper {
	background-color: #fff;
	min-height: 280px;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0px 1px rgba(0, 0, 0, 0.2);
  }
  .card .wrapper:hover .data {
	-webkit-transform: translateY(0px);
			transform: translateY(0px);
  }
  .card .data {
	position: absolute;
	bottom: 0;
	width: 100%;
	-webkit-transform: translateY(calc(80px + 1em));
			transform: translateY(calc(80px + 1em));
	transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .card .data .content {
	padding: 1em;
	position: relative;
	z-index: 1;
	background: #f8f8f8;
  }
  .card .author {
	font-size: 12px;
  }
  .card .title {
	margin-top: 10px;
  }
  .card .text {
	height: 80px;
	margin: 0;
  }
  .card input[type='checkbox'] {
	display: none;
  }
  .card input[type='checkbox']:checked + .menu-content {
	-webkit-transform: translateY(-70px);
			transform: translateY(-70px);
  }
  

  .example-1 .date {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #77d7b9;
	color: #fff;
	padding: 0.8em;
  }
  .example-1 .date span {
	display: block;
	text-align: center;
  }
  .example-1 .date .day {
	font-weight: 700;
	font-size: 24px;
	text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.18);
	max-width: 60px;
  }
  .example-1 .date .month {
	text-transform: uppercase;
  }
  .example-1 .date .month,
  .example-1 .date .year {
	font-size: 12px;
  }
  .example-1 .content.top {
	background: white;
  }

  .example-1 .content.bottom {
	background: #f8f8f8;
  }

  .example-1 .menu-button {
	position: absolute;
	z-index: 999;
	top: 16px;
	right: 16px;
	width: 25px;
	text-align: center;
	cursor: pointer;
  }
  .example-1 .menu-button span {
	width: 5px;
	height: 5px;
	background-color: gray;
	color: gray;
	position: relative;
	display: inline-block;
	border-radius: 50%;
  }
  .example-1 .menu-button span::after, .example-1 .menu-button span::before {
	content: '';
	display: block;
	width: 5px;
	height: 5px;
	background-color: currentColor;
	position: absolute;
	border-radius: 50%;
  }
  .example-1 .menu-button span::before {
	left: -10px;
  }
  .example-1 .menu-button span::after {
	right: -10px;
  }
  .example-1 .menu-content {
	text-align: center;
	position: absolute;
	top: -60px;
	left: 0;
	width: 100%;
	z-index: -1;
	transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	transition: transform 0.3s, -webkit-transform 0.3s;
	-webkit-transform: translateY(0);
			transform: translateY(0);
  }
  .example-1 .menu-content li {
	width: 33.333333%;
	float: left;
	background-color: #00b5ad;
	height: 60px;
	position: relative;
  }
  .example-1 .menu-content a {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
	font-size: 24px;
  }
  .example-1 .menu-content span {
	top: -10px;
  }
/* 
  .ui.cards > .card, .ui.card{
	box-shadow: none!important;
  } */

  .ui.card.read {
    background: rgb(248, 248, 248)!important;
}

article{
	margin-top: 2.7em;
	margin-bottom: 3em;
}

.borderless{
 border:none!important;
 box-shadow:none!important;
}

.steemstem.title{
	border-top:4px solid #00b5ad!important;
	padding-top: 1.4em;
}




.cat-links a {
    color: #ffffff;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    padding: 3px 20px;
    font-weight: 900;
    display: inline-block;
	background: #464646;
	text-transform: uppercase;
}

.top_news_high_item .top_news_content, .top_news_low_item .top_news_content {
    position: absolute;
    width: 100%;
    padding: 0 40px 38px 40px;
    bottom: 0;
}

.top_news_high_item .mask .top_news_link, .top_news_low_item .mask .top_news_link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.6)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
}

.top_news_high_item .mask, .top_news_low_item .mask {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    width: 100%;
    height: 100%;
}

.top_news_low_item {
    position: relative;
    height: 173px;
}

.column.padded{
	padding-right: 0px!important;
	padding-left: 0px!important;
	padding: 0px!important;
}

.top_news_high_item {
    position: relative;
    height: 346px;
}
.top_news_title a{
	color: #ffffff;
    text-decoration: none;

	margin: 0px!important;
}

.top_news_title {
	margin: 0px!important;
	background: #0000004b;
	padding: 5px;
        height: 75px;
}

.post_date{
  color:#FFFF00;
}

.ui.tabular.menu .active.item {
    background: none #ffffff;
    color: rgba(0, 0, 0, 0.95);
    border-top-width: 4px;
    border-color: #00b5ad;
    font-weight: bold;
    margin-bottom: -1px;
    box-shadow: none;
    border-radius: 0em 0em 0px 0px !important;
}

.ui.tabular.menu .item {
    background: transparent;
    border-bottom: none;
    border-left: 0px solid transparent; 
    border-right: 0px solid transparent; 
    border-top: 2px solid transparent;
    padding: 0.92857143em 1.42857143em;
    color: rgba(0, 0, 0, 0.87);
}

.ui.items > .item > .image:not(.ui){
	width: 332px;
	max-height:210px;
	overflow: hidden;
}

.ui.items.blog > .item > .image{
	width: 200px;
	max-height:220px;
	overflow: hidden;
}

.ui.items > .item > .image > img{
	width: 100%!important;
	height: auto;
	object-fit: cover;
}

.nmr{
	cursor: pointer;
	margin-right: 0px!important;
}

.npdg{
	padding-left:0px!important;
	padding-right:0px!important;
	padding:0px!important;
}

.noradius{
	border-radius:0px!important;
}

.mtop0{
	margin-top: 0em!important;
}

.mtop2{
	margin-top: 2em!important;
}

.mtop25{
	margin-top: -2.5rem!important;
}

.mtop3n{
	margin-top: -3rem!important;
}

.mfield{
  margin:1em 0em 1em!important;
}

.submfield{
  border:      1px solid #C8C8C8!important;
  color:       #C8C8C8;
  line-height: '140%';
}

.col33{
	width: 33.3333333%
}

.col50{
	width: 50%
}

.col100{
	width: 100%
}

body{
	font-size: 14px;
}



/* .top_news_high_item, .top_news_low_item{
	filter: grayscale(100%);
}

.top_news_high_item:hover, .top_news_low_item:hover{
	filter: grayscale(0%);
} */


.ui.cards > .card > .content > .description, .ui.card > .content > .description{
	color:black!important;
}

.ui.tabular.menu .active.item{
	background: transparent!important;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* new rule for wide screens */
@media all and (min-width:1600px) 
{
  .ui.container.supercontainer{ width:1504px; }
}

/* post creation */
#postcreate{
    height: 80%;
    width:100%;
    min-height: 50px;
    max-height: 610px;
    overflow-y: scroll;
}



