<template name="comment">
  <div style='padding-top: 10px; clear: both;' class="ui comments">
    <div class="comment">

      <!-- Author avatar -->
      <a href="/#!/@{{author}}" class="avatar"><img src="https://images.hive.blog/u/{{author}}/avatar/"></a>

      <!-- Main comment body -->
      <div class="content">

        <!-- Author avatar  + date/time -->
        <a href="/#!/@{{author}}" class="author">{{author}}</a>
        <div class="metadata"><div class="date">{{DisplayTimeCreated created}}</div></div>

        <!-- The comment main body -->
        <div class="text">
          <!-- displaying the comment (visible by default) -->
          <div id='comment-{{author}}-{{permlink}}'> {{{ToHTML body}}} </div>

          <!-- Editing form (invisible by default) -->
          <div id='comment-edit-{{author}}-{{permlink}}' style="display:none">
            <form class="ui comment-form-{{author}}-{{permlink}} form commentform">
              <i class="commentedit window close outline icon"></i>
              <div class="field"><textarea id="comment-edit-content-{{author}}-{{permlink}}">{{body}}</textarea></div>
              <!-- preview part -->
              <h3 class="ui header">Preview</h3>
              <div class='comment'><div class='content'><div class="text">
                <p style="margin-top:-30px;"> {{{DisplayCommentEditBody}}} </p>
              </div></div></div>
            </form>
          </div>

          <!-- Rewards  -->
          <span class="ui left commentvotes-{{permlink}}">
            <i style="margin-top:5px;" class="dollar sign icon"></i>
            {{displayPayout pending_payout_value total_payout_value curator_payout_value}}
          </span>
          {{#if inequals active_votes.length 0}}
            <div class="ui commentvotes popup {{permlink}} center large left">
              <div class='ui mini middle aligned divided list'>
                {{#each GetCommentVotes}}
                  <div class='ui item'>
                    <a href='/c/{{voter}}'><div class='content'><div class='header'>
                      {{voter}}&nbsp;<span>(${{GetCommentValue rshares ..}})</span>
                      </div></div></a>
                  </div>
                {{/each}}
              </div>
            </div>
          {{/if}}

          <!-- Upvotes /Downvotes  -->
          {{#if mainuser}}
            <span class="right floated">
              {{#if equals NLikes 0}}
                <i id="upvote" class="thumbs up outline icon"></i>{{NLikes}}
              {{else}}
                {{#if HasUpvoted}}
                  <i id="upvote" class="thumbs up icon teal"></i>{{NLikes}}
                {{else}}
                  <i id="upvote" class="thumbs up icon"></i>{{NLikes}}
                {{/if}}
              {{/if}}
              {{#if equals NDislikes 0}}
                <i id="downvote" class="thumbs down outline icon"></i>{{NDislikes}}
              {{else}}
                {{#if HasDownvoted}}
                  <i id="downvote"  class="thumbs down icon red"></i>{{NDislikes}}
                {{else}}
                  <i id="downvote"  class="thumbs down icon"></i>{{NDislikes}}
                {{/if}}
              {{/if}}
            </span>
          {{else}}
            <span class="right floated" data-tooltip="Please sign up on Hive">
              {{#if equals NLikes 0}}
                <i class="thumbs up outline icon"></i>{{NLikes}}
              {{else}}
                <i class="thumbs up icon"></i>{{NLikes}}
              {{/if}}
              {{#if equals NDislikes 0}}
                <i class="thumbs down outline icon"></i>{{NDislikes}}
              {{else}}
                <i class="thumbs down icon"></i>{{NDislikes}}
              {{/if}}
            </span>
          {{/if}}

          <!-- reply part -->
          {{>reply data=this isRootComment=false }}
        </div>
        <div class="comments">
          {{#each currentCommentsSubcomments this}} {{>comment}} {{/each}}
        </div>
      </div>
    </div>
    <div class="ui divider hidden"></div>
  </div>
</template>


