<template name="reply">
  <div class="actions">
    {{#if ../permlink}}
      <!-- The reply button (different for root replies and replies to comment) -->
      {{#if isroot}}
        <a class="reply-action action-{{../permlink}}">
          <div id='reply-button-{{../permlink}}' class="ui mini button teal floated">Reply</div>
        </a>
      {{else}}
        <a class="reply-action action-{{../permlink}}">
          <div id='reply-button-{{../permlink}}' style="margin-top:5px" class="ui basic mini button teal">Reply</div>
        </a>
        <!-- buttons connected to comment editing -->
        {{#if equals this.data.author mainuser.name}}
          <a class="edit-action action-{{../permlink}}">
            <div id='edit-button-{{../permlink}}' style="margin-left:-5px; margin-top:5px"  class="ui basic mini button teal">Edit</div>
          </a>
          <a class='submit-edit-action'>
            <div id='submit-edited-comment-{{../permlink}}' style="margin-left:-15px; margin-top:5px; display:none"
              class="ui mini button primary labeled icon hidden"><i class="icon edit"></i>Update comment</div>
          </a>
        {{/if}}
      {{/if}}

      <!-- Form with the reply textarea -->
      <div id = 'reply-form-{{..permlink}}'>
        <form class="ui reply-{{../permlink}} form replyform">
          <i class="window close outline icon"></i>
          <div class="field"><textarea id="reply-content-{{../permlink}}" placeholder="Add reply here..."></textarea></div>
          <!-- preview part -->
          <h3 class="ui header">Preview</h3>
          <div class='comment'><div class='content'>
            <div class="text">
              {{{DisplayReplyBody}}}
            </div>
          </div></div>

          <!-- Button to add the reply -->
          <div class="ui divider"></div>
          <a class='submit-comment-action action-{{../permlink}}'>
            <div id="submit-comment-{{../permlink}}" class="ui submit button primary labeled icon">
              <i class="icon edit"></i> Add Reply
            </div>
          </a>
        </form>
      </div>
    {{else}}
      {{#with currentArticle}}
        {{>reply data=this isRootComment=false}}
      {{/with}}
    {{/if}}
  </div>
</template>
