<template name="usercomments">
    <div class="ui cards">
        {{#each currentAuthorHistory}}
        {{#if equals type 'comment'}}
        <div class="ui fluid card">
            <div class="content">
                <div class="header">
                        {{name}}                
                        <span class="meta">
                                commented on
                            </span>
                    </div>
                <div class="description shorter">
                    <a href="#!/@{{name}}/{{permlink}}" class="user shorter">
                        @{{name}}/{{permlink}}
                    </a>
                </div>
            </div>
            <div class="extra content">
                <div class="date">
                        <i class="clock outline icon"></i>{{DisplayTimeFrom date}}
                </div>
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>
</template>
