<template name="horizontalpost">
    <div class="item" style="margin:0em;box-shadow: 0px 0px 7px #00000069;">
        <div class="content" style="padding: 1em;">
            <a href="#!/@{{author}}/{{permlink}}" class="header">{{title}}</a>
            <span class="tags">{{#each json_metadata.tags}}
                {{#if IsAllowedTag this}}
                <a href="#!/{{this}}" class="ui mini {{colorByCategory this}} label">{{this}}</a>{{/if}}{{/each}}
            </span>
            <div class="meta">
                <!-- <img class="ui avatar image" src="https://steemitimages.com/u/{{author}}/avatar"> -->
                <span class="category"> <a href="#!/@{{author}}">by {{#if
                        isWhitelisted author}}{{author}} ({{displayReputation author_reputation}})
                        <i class="ui icon star yellow"></i>
                        {{else}}{{author}} ({{displayReputation author_reputation}}) {{/if}}</a> </span>
            </div>
            <div class="ui small left floated image">
                <img src="{{imgFromBody this}}">
            </div>
            {{shortDescription (xssShortFormatter (remarkableFormatter body))}}
        </div>
    </div>
    <div class="item" style="margin:0px;    padding: 0em 0em 1em 0em;">
        <div class="ui label fluid noradius">
            <span class="ui  mini label top left floated">
                <i class="clock outline icon"></i> {{DisplayTimeFrom created}}
            </span> {{>upvote}}
        </div>
    </div>
</template>
