<template name="create">
  <div class="ui container supercontainer">

    <!-- DRAFTS AND RECOMMENDATIONS -->
    {{>drafts}}

    <div class="ui grid two column stackable padded">

      <!--- ARTICLE SIDE -->
      <div id="articleside" class="eight wide column">
        <h2 class="ui dividing header">Write a new post</h2>
        <form id="newarticle" class="ui form">
          <!-- TITLE -->
          <div class="field mfield">
            <label>TITLE</label>
            <input id='posttitle' name="posttitle" type="text" class="submfield" placeholder="Type your title">
          </div>

          <!-- BODY-->
          <div class="field">
            <label>ARTICLE</label>
            <div class="editor-toolbar">
              <div class='ui small basic icon buttons'>
                <div class="ui button bold">           <i title='Bold' class='bold icon'></i></div>
                <div class="ui button italic">         <i title='Italic' class='italic icon'></i></div>
                <div class="ui button underline">      <i title='Underline' class='underline icon'></i></div>
                <div class="ui button strikethrough">  <i title='Strikethrough' class='strikethrough icon'></i></div>
                <div class="ui button subscript">      <i title='Subscript' class='subscript icon'></i></div>
                <div class="ui button superscript">    <i title='Superscript' class='superscript icon'></i></div>
              </div>&nbsp;&nbsp;&nbsp;
              <div class='ui small basic icon buttons'>
                <div class="ui simple dropdown item">
                  <div class="ui button"><i class='header icon'></i><i class="dropdown icon"></i></div>
                  <div class="menu">
                    <div class="ui item button h1">Header 1</div>
                    <div class="ui item button h2">Header 2</div>
                    <div class="ui item button h3">Header 3</div>
                    <div class="ui item button h4">Header 4</div>
                    <div class="ui item button h5">Header 5</div>
                    <div class="ui item button h6">Header 6</div>
                  </div>
                </div>
                <div class="ui simple dropdown item">
                  <div class="ui button"><i class='align left icon'></i><i class="dropdown icon"></i></div>
                  <div class="menu">
                    <div class="ui item button lefty"><i class='align left icon'></i></div>
                    <div class="ui item button centery"><i class='align center icon'></i></div>
                    <div class="ui item button righty"><i class='align right icon'></i></div>
                    <div class="ui item button justifyy"><i class='align justify icon'></i></div>
                  </div>
                </div>
                <div class="ui button quote"><i title='quote' class='quote left icon'></i></div>
                <div class="ui button codify"><i title='code' class='code icon'></i></div>
              </div>&nbsp;&nbsp;&nbsp;
              <div class='ui small basic icon buttons'>
                <div class="ui button listuly"><i title='unordered list' class='list ul icon'></i></div>
                <div class="ui button listoly"><i title='ordered list' class='list ol icon'></i></div>
              </div>&nbsp;&nbsp;&nbsp;
              <div class='ui small basic icon buttons'>
                <div class="ui simple dropdown item">
                  <div class="ui button"><i class='image outline icon'></i><i class="dropdown icon"></i></div>
                  <div class="menu">
                    <div class="ui item button imagelink">Image link</div>
                    <div class="ui item button imageup">Image upload</div>
                    <input type="file" id="image-input" style='display:none'>
                  </div>
                </div>
                <div class="ui button link"><i title='add a link' class='linkify icon'></i></div>
                <div class="ui button tablify"><i title='add a table' class='table icon'></i></div>
              </div>
            </div>
            <textarea id="postbody" name='postbody' type="text"  class='submfield' rows='20' style='resize:none;'></textarea>
          </div>

          <!-- TAGS -->
          <div class="field mfield">
            <label>TAGS</label>
            <div class="ui fluid multiple search selection dropdown">
              <input id="posttags" name="posttags" type="hidden">
              <div class="default text">Set tags...</div>
            </div>
          </div>
          <div class="ui mini to message yellow hidden">
            Reaching the tag number limit:
            the (potentially automatically added) #hive-196387 tag
            plus nine user-defined tags. <br /><br />
            Any extra tag will be ignored.
          </div>

          {{#if NotPostEdition}}
            <!-- BENEFICIARIES -->
            <div class="field mfield">
              <label  style='margin-top:15px;'>BENEFICIARIES (optional)</label>
              <div class="ui stmscl_bnf checkbox" style="margin-right:2em;margin-top:5px;">
                <input type="checkbox" name="stmscl_bx" id='stmscl_bx' style='vertical-align:middle;' checked>
                  <label for='stmscl_bx' style='vertical-align:middle;'>
                    Donate a fraction of the post rewards to STEMsocial:
                    <input id='stmscl_bnf' name="stmscl_bnf" type="number" min="0" max="100"
                      style='width:70px;border:none;border-width:0;margin-top:-9px;margin-right:-10px' value='5'> %.
                  </label>
              </div><br />
            {{#if Beneficiaries}}
              <p style='margin-bottom:23px;margin-top:-3px;'>
                {{#each beneficiary in DisplayBeneficiaries}}
                  <i class='user outline icon' style='margin-right:-1px;'></i>
                    @{{DisplayBeneficiary beneficiary}}: {{DisplayShare beneficiary}}%
                    <i id='edit-beneficiary' aria-hidden="true" class="fitted link edit outline icon" name={{DisplayBeneficiary beneficiary}}-{{DisplayShare beneficiary}}></i>
                    <i id='remove-beneficiary' aria-hidden="true" class="fitted link trash alternate outline icon" name={{DisplayBeneficiary beneficiary}}></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {{/each}}
              </p>
            {{/if}}
            </div>
            <div class="field mfield">
              <div class="ui basic button add-beneficiary black left floated"  style='margin-top:-10px;margin-bottom:20px;'>
                <i class="user icon"></i>Add another beneficiary
              </div>
            </div>

            <!-- MISC -->
            <div class="field mfield">
              <strong><label style='margin-top:15px;font-size:13px'>PAYOUT DISTRIBUTION (advanced):</label></strong>
              <div class="ui simple dropdown payout">
                <input  id="payoutdistr" type="hidden" value='50-50'>
                 <div class='text'> &nbsp;50% HBD / 50% HP</div>
                 <div class="menu">
                   <div class="item" data-value='50'>  &nbsp; 50% HBD / 50% HP</div>
                   <div class="item" data-value='100'> &nbsp; 100% HP</div>
                   <div class="item" data-value='0'>   &nbsp; Decline payout</div>
                 </div>
                 <i class="dropdown icon"></i>
                <script>$('.ui.dropdown.payout').dropdown()</script>
              </div>
            </div>
          {{/if}}

          <!-- MESSAGES -->
          <div class="field" ><div class="ui error message"></div>
          <div id="postprob" class="ui red message hidden"></div></div>
        </form>

        <!-- BUTTONS-->
        <div class="ui button submit teal right floated" style='margin-top:20px'>SUBMIT</div>
      </div>

      <!-- preview part -->
      <div id="previewside" class="eight wide column">
        <h2 class="ui dividing header">Post preview</h2>

        <!-- TITLE -->
        <h2 class="ui header">{{DisplayPostTitle}}</h2>

        <!-- BODY -->
        <div id='postcreate'>
          <div class='content'><div class="description">
            {{{DisplayPostBody}}}
          </div></div>
          {{#if PostEdition}}
            <!-- COMMENTS -->
            <div class="ui divider hidden"></div>
            <div class="row">
              {{>comments}}
            </div>
          {{/if}}
        </div>

      </div>
    </div>
  </div>
</template>
